<configuration xmlns="http://www.magiumlib.com/Configuration">
    <section identifier="database">
        <group identifier="redis">
            <element identifier="host">
                <description>Hostname for the redis machine</description>
                <value>localhost</value>
            </element>
            <element identifier="port">
                <description>Port for the server</description>
                <value>6379</value>
            </element>
            <element identifier="timeout">
                <description>Connection timeout</description>
                <value>2.5</value>
            </element>
            <element identifier="persistent">
                <description>Should the connection use a persistent connection?</description>
                <permittedValues>
                    <value>on</value>
                    <value>off</value>
                </permittedValues>
                <value>off</value>
            </element>
            <element identifier="database">
                <description>The default database number for the connection</description>
            </element>
        </group>
    </section>
</configuration>
